<div class="container">
  <div class="card-trip">
    <img src="http://source.unsplash.com/featured/?<%= @restaurant.category %>+food?&<%= rand(1000) %>" />
    <div class="card-trip-infos">
      <div class="d-flex">
        <div class="mr-3">
          <% backup_numbers = ['324.743.0098', '642.974.1153', '155.086.6996', '954.227.1813'] %>
          <h2><%= @restaurant.name %></h2>
          <p><%= @restaurant.category.capitalize %> </p>
        </div>
        <div>
          <h2><%= @restaurant.phone_number.present? ? @restaurant.phone_number : backup_numbers.sample %></h2>
          <p><%= @restaurant.address %></p>
        </div>
      </div>
      <div>
        <%= link_to 'Add a Review', new_restaurant_review_path(@restaurant), class: 'btn btn-ghost' %>
      </div>
    </div>
  </div>
  <div class="mt-3">
    <h2>Reviews</h2>
    <% @restaurant.reviews.each do |review| %>
      <p class="review-text"><%= review.content %></p>
      <% review.rating.times do %>
        <i class="fas fa-star"></i>
      <% end %>
      <%= link_to "Delete review",
                  review_path(review),
                  method: :delete,
                  data: { confirm: "Are you sure?" } %>
      <hr>
    <% end %>
  </ul>
</div>
</div>
